body {
    margin: 0;
    padding: 0;
    background-image: url("./back.png");
    /* Your base64-encoded image here */
    background-size: 300vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}