
body,
html,
#root,
.club-admission-container {
  height: 100%;
  margin: 0;
}


body {
  background-image: url("./back.png");
  background-size: cover; /* Change to 'cover' for full coverage */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}



/* Add additional styles as needed */
.club-admission-container {
  padding: 20px;
  /* Add any other styles you want for the container */
}


/* Center the text and set its color to white */
h1 {
  text-align: center;
  color: white;
}



/* Optional: Add additional styling for the card titles and descriptions if needed */
.ant-card-meta-title {
  font-size: 16px;
  font-weight: bold;
}

.ant-card-meta-description {
  font-size: 14px;
}

/* Optional: Adjust spacing between cards */
.ant-row {
  margin-left: -16px;
  margin-right: -16px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(300%), 1fr)); /* Adjust the column width */
  gap: 10px;
  margin: 0 16px; /* Adjust the margin as needed */
}

.ant-card {
  width: calc(33.33% - 32px); /* Adjust the width as needed */
  margin: 16px; /* Adjust the margin as needed */
  height: 100%; /* Set the desired height */
  max-width: 300px; /* Set a maximum width if needed */
  max-height: 300px; /* Set a maximum height if needed */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure content doesn't overflow */
}

/* Make the images inside fit the size of the card */
.ant-card-cover img {
  width: 100%;
  height: 100%; /* Fill the entire height of the card cover */
  object-fit: cover; /* Ensure the image covers the entire space */
  border-radius: 50%;
}

/* Optional: Adjust the height of the card body to make space for text */
.ant-card-body {
  flex: 1;
  overflow: hidden; /* Ensure content doesn't overflow */
}


@media (max-width: 768px) {
  .ant-card {
    width: calc(50% - 16px); /* Adjust for smaller screens */
  }

  .card-grid {
    margin: 0 8px; /* Adjust the margin for smaller screens */
  }
}